@model Mango.Web.ViewModels.Product.ProductListViewModel
@{
    ViewData["Title"] = "Products";
}

<br/><br/>
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Products List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="CreateProduct" class="btn btn-outline-primary"><i class="fa-regular fa-plus"></i> Create New Product</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Category Name</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.CategoryName</td>
                <td>@product.Price.ToString("C")</td>
                <td>
                    <a asp-action="EditProduct" class="btn btn-success" asp-route-id="@product.Id">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a asp-action="DeleteProduct" class="btn btn-danger" asp-route-id="@product.Id">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>